pro-archs-j2-931a1be9f79ba926c96673b815aa0b06079b52c9/Domain-Access-Control/src/main/resources/api/schemas/suspendAccess/suspendAccessResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2019 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Success">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SuspendAccessRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Success"/>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2015.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TimeStamp" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2018-10-17T15:26:53"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="required"/>
			<xs:attribute name="RequestorId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
