pro-archs-j2-931a1be9f79ba926c96673b815aa0b06079b52c9/Domain-Access-Control/src/main/resources/schemas/WhitelistRecord-Complete-Request.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2019 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Action">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="D"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Area">
		<xs:complexType>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Area 1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0/1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Entry" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Exit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FDE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Checkpoint">
		<xs:complexType>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Checkpoint 1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Coding">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="262"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Gate">
		<xs:complexType>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Reentry Gate"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="Issuer"/>
				<xs:element ref="Receiver"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="80501"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InquiryError">
		<xs:complexType>
			<xs:attribute name="No" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Text" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Unknown UPID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Issuer">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LastDate">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:enumeration value="2001-12-31T01:33:00"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Permission">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UPID"/>
				<xs:element ref="TSProperty" maxOccurs="unbounded"/>
				<xs:element ref="TicketUsed"/>
				<xs:element ref="LastDate"/>
				<xs:element ref="Transaction"/>
				<xs:element ref="InquiryError"/>
				<xs:element ref="Time"/>
			</xs:sequence>
			<xs:attribute name="Blocked" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="yes/no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TSData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="WhitelistRecord"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TSProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACCESSCODE"/>
						<xs:enumeration value="VALIDITY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="To">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2019-10-11T00:00:00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="From">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2016-01-01T00:00:00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TicketUsed">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false/true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Time">
		<xs:complexType>
			<xs:attribute name="Purchased" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Used" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Venue"/>
				<xs:element ref="Area"/>
				<xs:element ref="Gate"/>
				<xs:element ref="Checkpoint"/>
			</xs:sequence>
			<xs:attribute name="TransactionId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Date" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2007-01-25T07:43:09"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BelongsTo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="xx"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Validated" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Releases" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PermissionType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PointTicket"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CurrentValue" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="UsedValue" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="UPID">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UTID">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="998050190000000021"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Venue">
		<xs:complexType>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Arena 1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Entry" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Exit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FDE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="HSHIF25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WhitelistRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Action"/>
				<xs:element ref="UTID"/>
				<xs:element ref="Coding"/>
				<xs:element ref="Permission" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Expire" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2019-10-18T00:00:00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
