pro-archs-j2-931a1be9f79ba926c96673b815aa0b06079b52c9/Domain-Access-Control/src/main/resources/api/schemas/restoreAccess/restoreAccessRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2019 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Access">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IssuerId"/>
				<xs:element ref="AccessCode"/>
				<xs:element ref="VisualId"/>
				<xs:element ref="AttractionId"/>
				<xs:element ref="Suspend"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccessCode">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="80501"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Accesses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Access" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttractionId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="UKCNMAP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Chargeback"/>
				<xs:enumeration value="Restoring access to ticket"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IssuerId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="UKCNMAP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReasonId">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RestoreAccessRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Accesses"/>
			</xs:sequence>
			<xs:attribute name="RequestorId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RetransmissionIndicator" use="required" type="xs:boolean"/>
			<xs:attribute name="TimeStamp" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2018-09-20T09:22:19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2015.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Suspend">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReasonId"/>
				<xs:element ref="Description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VisualId">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_VisualId">
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Code 128"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_VisualId">
		<xs:restriction base="xs:long">
			<xs:enumeration value="998050190000000021"/>
			<xs:enumeration value="998050190000000022"/>
			<xs:enumeration value="998050190000000023"/>
			<xs:enumeration value="998050190000000024"/>
			<xs:enumeration value="998050190000000025"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
